@import "tailwindcss";

@theme {
  --color-brand-primary: #96f2d7;   /* Mint/Turquoise */
  --color-brand-secondary: #ffd43b; /* Makaroni Yellow */
  --color-brand-tertiary: #1e1e1e;  /* Soft Black */
}